.head
  %a#logo{ :href => "/", :title => "Rails Jam Home" } Rails Jam
  %ul.navigation.signout
    %li.navi-left
    %li= link_to 'New', new_project_path
    %li= link_to "All Projects", projects_path
    %li= link_to "Services", "#"
    %li= link_to "Login", "/login"
    %li.navi-right