.head
  %a#logo{ :href => "http://railsjam.com/", :title => "Rails Jam Home" } Rails Jam
  %ul.navigation.signout
    %li.navi-left
    %li= link_to 'New', '#'
    %li= link_to "All", "#"
    %li= link_to "Languages", "#"
    %li= link_to "Login", "#"
    %li.navi-right