.item.clearfix
  .when
    %span.typo_date
      = time_ago_in_words project.created_at
  .link
    = link_to project.name, project
  .leadimg
    %img{ :border => 0, :src => "#{project_cover(project)}"}
  .summary
    = project.description
